[workspace]
resolver = "2"
members = [
    "lib",
    "app",
]

[workspace.package]
authors = [
    "Ash Manning <ash@layertwolabs.com>",
    "Nikita Chashchinskii <nikita.chashchinskii@gmail.com>"
]
edition = "2021"
version = "0.4.10"

[workspace.dependencies.bip300301]
git = "https://github.com/Ash-L2L/bip300301.git"
rev = "c6e410e702f3d22f5801f21ffdf39edece3985df"


[profile.release]
lto = "fat"
