[workspace]
resolver = "2"
members = ["app", "cli", "integration_tests", "lib", "rpc-api"]

[workspace.package]
authors = [
    "Ash Manning <ash@layertwolabs.com>",
    "Nikita Chashchinskii <nikita.chashchinskii@gmail.com>",
]
edition = "2024"
license-file = "LICENSE.txt"
publish = false
version = "0.11.7"

[workspace.dependencies]
anyhow = "1.0.72"
bincode = "1.3.3"
bitcoin = "0.32.5"
clap = { version = "4.5.4" }
futures = { version = "0.3.30", default-features = false }
http = "1.2.0"
jsonrpsee = { version = "0.24.7", features = ["tracing"] }
parking_lot = "0.12.1"
prost = "0.13.3"
serde = "1.0.179"
serde_json = "1.0.113"
strum = { version = "0.26.3", features = ["derive"] }
thiserror = "2.0.11"
tiny-bip39 = "2.0.0"
tokio = { version = "1.29.1", default-features = false, features = ["signal"] }
tokio-util = "0.7.10"
tonic = "0.12.3"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
utoipa = { version = "5.2.0", default-features = false }
uuid = "1.13.1"
blake3 = "1.4.1"
borsh = "1.3.1"
byteorder = "1.4.3"
bytes = "1.4.0"
dirs = "5.0.1"
dotenvy = "0.15.7"
ed25519-dalek = "2.1.1"
ed25519-dalek-bip32 = "0.3.0"
eframe = "0.30.0"
fallible-iterator = "0.3.0"
hashlink = "0.10.0"
heed = "0.21.0"
hex = "0.4.3"
human-size = "0.4.3"
include_path = "0.1.1"
libtest-mimic = "0.8.1"
nonempty = "0.11.0"
poll-promise = "0.3.0"
prost-build = "0.13.3"
prost-types = "0.13.3"
protox = "0.7.1"
quinn = "0.11.6"
rayon = "1.7.0"
rcgen = "0.13.2"
reserve-port = "2.0.1"
rustls = { version = "0.23.21", default-features = false }
semver = "1.0.25"
serde_with = "3.4.0"
shlex = "1.3.0"
sneed = "0.0.9"
thunder = { path = "lib" }
thunder_app_cli = { path = "cli" }
thunder_app_rpc_api = { path = "rpc-api" }
tokio-stream = "0.1.15"
tonic-build = "0.12.3"
tonic-health = "0.12.3"
tower = "0.4.13"
tower-http = "0.6.2"
tracing-appender = "0.2.3"
tracing-indicatif = "0.3.8"
url = "2.5.4"

[workspace.dependencies.bip300301_enforcer_lib]
default-features = false
git = "https://github.com/Ash-L2L/bip300301_enforcer"
rev = "273fee8295aa55314333342ad6479b488cae3a0a"

[workspace.dependencies.bip300301_enforcer_integration_tests]
default-features = false
git = "https://github.com/Ash-L2L/bip300301_enforcer"
rev = "273fee8295aa55314333342ad6479b488cae3a0a"

[workspace.dependencies.l2l-openapi]
git = "https://github.com/Ash-L2L/l2l-openapi"
rev = "38c42ee637d083f1cdc807b546f6930b880dcad9"

[workspace.dependencies.rustreexo]
git = "https://github.com/mit-dci/rustreexo"
rev = "6da503b598470f6e87aa9d769b94df64df7ff3ae"

[workspace.lints.clippy]
all = { level = "deny", priority = -1 }
assertions_on_result_states = "allow"
let_unit_value = "allow"
print_stderr = "deny"
print_stdout = "deny"
significant_drop_in_scrutinee = "deny"
wildcard_imports = "deny"

[workspace.lints.rust]
let_underscore_drop = "deny"

# temp-dir does not leak correctly after clone
# https://gitlab.com/leonhard-llc/ops/-/issues/17
[patch.crates-io.temp-dir]
git = "https://gitlab.com/A-Manning/leonhard-llc-ops.git"
branch = "temp-dir-leak"

[profile.release]
# lto = "fat"
