[package]
name = "thunder_app_cli"
authors.workspace = true
edition.workspace = true
version.workspace = true

[dependencies]
anyhow = "1.0.72"
bitcoin = { version = "0.32.2", features = ["serde"] }
clap = { version = "4.5.4", features = ["derive"] }
jsonrpsee = { version = "0.23.2", features = ["http-client"] }
serde_json = "1.0.113"
thunder = { path = "../lib" }
thunder_app_rpc_api = { path = "../rpc-api" }
tokio = "1.29.1"
utoipa = "5.2.0"

[lib]
name = "thunder_app_cli_lib"
path = "lib.rs"

[[bin]]
name = "thunder_app_cli"
path = "main.rs"