[package]
name = "thunder_app"
authors.workspace = true
edition.workspace = true
license-file.workspace = true
publish.workspace = true
version.workspace = true

[dev-dependencies]
base64 = "0.22.1"
futures = { version = "0.3.30", default-features = false, features = ["async-await"]}
jsonrpsee = { version = "0.24.7", features = ["async-client", "http-client"] }
tempfile = "3.10.0"
test-log = { version = "0.2.14", features = ["trace"] }
tokio = { version = "1.29.1", features = ["process", "rt-multi-thread"] }

[dependencies]
anyhow = "1.0.72"
bincode = "1.3.3"
bitcoin = { version = "0.32.2", features = ["serde"] }
clap = { version = "4.5.4", features = ["derive"] }
ctrlc = "3.4.0"
dirs = "5.0.1"
eframe = "0.30.0"
futures = "0.3.30"
human-size = "0.4.3"
include_path = "0.1.1"
jsonrpsee = { version = "0.24.7", features = ["server"] }
rustreexo = { workspace = true }
parking_lot = "0.12.1"
poll-promise = { version = "0.3.0", features = ["tokio"] }
serde = { version = "1.0.179", features = ["derive"] }
serde_json = "1.0"
shlex = "1.3.0"
strum = { version = "0.26.2", features = ["derive"] }
thiserror = "2.0.10"
thunder = { path = "../lib" }
thunder_app_cli = { path = "../cli" }
thunder_app_rpc_api = { path = "../rpc-api" }
tiny-bip39 = "2.0.0"
tokio = { version = "1.29.1", features = ["macros", "rt-multi-thread"] }
tokio-util = { version = "0.7.10", features = ["rt"] }
tonic = "0.12.3"
tonic-reflection = "0.12.2"
tracing = "0.1.40"
tracing-appender = "0.2.3"
tracing-subscriber = { version = "0.3.18", features = ["json"] }
utoipa = "5.2.0"

[dev-dependencies.bip300301]
git = "https://github.com/Ash-L2L/bip300301.git"
rev = "45f74e37b8295207d29ddbbce10d563ec9f67151"
features = ["tracing"]

[[bin]]
name = "thunder_app"
path = "main.rs"