[package]
name = "thunder_app"
authors.workspace = true
edition.workspace = true
version.workspace = true

[dev-dependencies]
base64 = "0.21.2"
futures = { version = "0.3.30", default-features = false, features = ["async-await"]}
jsonrpsee = { version = "0.20.0", features = ["http-client"] }
tempfile = "3.10.0"
test-log = { version = "0.2.14", features = ["trace"] }
tokio = { version = "1.29.1", features = ["process", "rt-multi-thread"] }

[dependencies]
anyhow = "1.0.72"
bincode = "1.3.3"
bip300301.workspace = true
clap = { version = "4.5.4", features = ["derive"] }
ctrlc = "3.4.0"
dirs = "5.0.1"
eframe = "0.27.1"
futures = "0.3.30"
human-size = "0.4.3"
jsonrpsee = { version = "0.20.0", features = ["server"] }
rustreexo = { workspace = true }
parking_lot = "0.12.1"
poll-promise = { version = "0.3.0", features = ["tokio"] }
serde = { version = "1.0.179", features = ["derive"] }
shlex = "1.3.0"
strum = { version = "0.26.2", features = ["derive"] }
thiserror = "1.0.44"
thunder = { path = "../lib" }
thunder_app_cli = { path = "../cli" }
thunder_app_rpc_api = { path = "../rpc-api" }
tiny-bip39 = "1.0.0"
tokio = { version = "1.29.1", features = ["macros", "rt-multi-thread"] }
tokio-util = { version = "0.7.10", features = ["rt"] }
tracing = "0.1.40"
tracing-subscriber = "0.3.18"

[[bin]]
name = "thunder_app"
path = "main.rs"