BIP300301_ENFORCER='../bip300301_enforcer/target/debug/bip300301_enforcer'
BITCOIND='../bitcoin-patched/build/src/bitcoind'
BITCOIND_UNPATCHED='../bitcoin/build/src/bitcoind'
BITCOIN_CLI='../bitcoin/build/src/bitcoin-cli'
ELECTRS='../electrs/target/release/electrs'
PHOTON_APP='target/debug/photon_app'