on: [pull_request, push]

name: Check, Lint, Build

env:
  CARGO_TERM_COLOR: always

jobs:
  check-lint-build-stable:
    name: Check, Lint, Build (ubuntu stable)
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 20
    # env:
    #  RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v2
      - name: Install latest nightly toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt, clippy

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.5.1

      - name: Rustfmt
        run: cargo fmt --all -- --check
      
      - name: Cargo check
        run: cargo check
      
      - name: Clippy
        run: cargo clippy --all-targets --all-features
      
      - name: Build
        run: cargo build --release

      - name: 'Set environment variables: version number and output filename'
        run: |
          THUNDER_APP_VERSION=$(cargo metadata --format-version 1 | \
            jq -er '.packages | map(select(.name == "thunder_app") | .version) | .[0]')
          OUTPUT_FILENAME="thunder-${THUNDER_APP_VERSION}-x86_64-unknown-linux-gnu"
          echo "THUNDER_APP_VERSION=$THUNDER_APP_VERSION" >> "$GITHUB_ENV"
          echo "OUTPUT_FILENAME=$OUTPUT_FILENAME" >> "$GITHUB_ENV"

      - name: 'Set filename for release binary'
        run: |
          pushd "target/release"
          ln -fs "thunder_app" "${OUTPUT_FILENAME}"
          popd

      - name: 'Upload Artifacts (thunder)'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.OUTPUT_FILENAME }}
          path: target/release/${{ env.OUTPUT_FILENAME }}
          if-no-files-found: error

      - name: Release
        uses: softprops/action-gh-release@v2.0.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/release/${{ env.OUTPUT_FILENAME }}
          fail_on_unmatched_files: true
  
  build-macos:
    name: Build (macos-x86_64)
    runs-on: macos-latest
    permissions:
      contents: write
    timeout-minutes: 20
    # env:
    #  RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v2
      - name: Install latest nightly toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.5.1

      - name: Build
        run: cargo build --release

      - name: 'Set environment variables: version number and output filename'
        run: |
          THUNDER_APP_VERSION=$(cargo metadata --format-version 1 | \
            jq -er '.packages | map(select(.name == "thunder_app") | .version) | .[0]')
          OUTPUT_FILENAME="thunder-${THUNDER_APP_VERSION}-x86_64-apple-darwin"
          echo "THUNDER_APP_VERSION=$THUNDER_APP_VERSION" >> "$GITHUB_ENV"
          echo "OUTPUT_FILENAME=$OUTPUT_FILENAME" >> "$GITHUB_ENV"

      - name: 'Set filename for release binary'
        run: |
          pushd "target/release"
          ln -fs "thunder_app" "${OUTPUT_FILENAME}"
          popd

      - name: 'Upload Artifacts (thunder)'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.OUTPUT_FILENAME }}
          path: target/release/${{ env.OUTPUT_FILENAME }}
          if-no-files-found: error

      - name: Release
        uses: softprops/action-gh-release@v2.0.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/release/${{ env.OUTPUT_FILENAME }}
          fail_on_unmatched_files: true

  build-windows:
    name: Build (x86_64-pc-windows-gnu)
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 20
    # env:
    #  RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v2
      - name: Install latest nightly toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          target: x86_64-pc-windows-gnu
        
      - name: Install mingw-w64
        run: sudo apt install mingw-w64

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.5.1

      - name: Build
        run: cargo build --release --target x86_64-pc-windows-gnu
        env:
          RUSTFLAGS: "-C linker=/usr/bin/x86_64-w64-mingw32-gcc"

      - name: 'Set environment variables: version number and output filename'
        run: |
          THUNDER_APP_VERSION=$(cargo metadata --format-version 1 | \
            jq -er '.packages | map(select(.name == "thunder_app") | .version) | .[0]')
          OUTPUT_FILENAME="thunder-${THUNDER_APP_VERSION}-x86_64-pc-windows-gnu.exe"
          echo "THUNDER_APP_VERSION=$THUNDER_APP_VERSION" >> "$GITHUB_ENV"
          echo "OUTPUT_FILENAME=$OUTPUT_FILENAME" >> "$GITHUB_ENV"

      - name: 'Set filename for release binary'
        run: |
          pushd "target/x86_64-pc-windows-gnu/release"
          ln -fs "thunder_app.exe" "${OUTPUT_FILENAME}"
          popd

      - name: 'Upload Artifacts (thunder)'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.OUTPUT_FILENAME }}
          path: target/x86_64-pc-windows-gnu/release/${{ env.OUTPUT_FILENAME }}
          if-no-files-found: error

      - name: Release
        uses: softprops/action-gh-release@v2.0.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/x86_64-pc-windows-gnu/release/${{ env.OUTPUT_FILENAME }}
          fail_on_unmatched_files: true
  
  upload-releases-to-releases-drivechain-info:
    name: Upload releases to releases.drivechain.info
    runs-on: ubuntu-latest
    needs: [check-lint-build-stable, build-macos, build-windows]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download release assets
        uses: robinraju/release-downloader@v1.9
        with:
          tag: ${{ github.ref_name }}

      - name: Upload release assets to releases.drivechain.info
        uses: cross-the-world/ssh-scp-ssh-pipelines@latest
        with:
          host: 45.33.96.47
          user: root
          pass: ${{ secrets.RELEASES_SERVER_PW }}
          port: 22
          scp: |
            'thunder-*-x86_64-apple-darwin' => '/var/www/html/L2-Thunder-latest-x86_64-apple-darwin'
            'thunder-*-x86_64-pc-windows-gnu.exe' => '/var/www/html/L2-Thunder-latest-x86_64-pc-windows-gnu.exe'
            'thunder-*-x86_64-unknown-linux-gnu' => '/var/www/html/L2-Thunder-latest-x86_64-unknown-linux-gnu'
